* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
}

/* Nav */
nav {
    position: fixed;
    background: rgba(0, 0,0, 0);
    padding: 0% 8%;
    box-shadow: none;
}

.logo {
    border: solid 1px #1976d2;
    border-radius: 10px;
    
}

.btn-small{
    border-radius: 20px;
    color: #757575;
    text-transform: none;
}

/* Section */


/* Section Hero */
#hero-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(33, 33, 33, 1)),
                        url("../public/asset/img/cover.jpg");
    padding-top: 20%;
}

.app-intro {
    padding-top: 20%;
}

.logo-hero {
    width: 25%;
    padding-top: 5%;
}

.iphone-hero {
    width: 100%;
}

/* Section Bénéfice */
.iphone-side{
    width: 40%;
    padding-top: 30%;
}

.benefice-1text {
    padding-top: 60%;
}

.benefice-2text {
    padding-top: 20%;
}


/* Section Download */
#download {
    background-color: #ffff00 ;
}

